<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="winep.ir.mymemory">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Utility.MyApplication"
        android:layoutDirection = "locale">

        <activity
            android:name=".MainPage"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Presenter.LoginPage.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="winep.ir.mymemory.Presenter.SubGroupPage.SubGroupActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="winep.ir.mymemory.Presenter.StatisticsGroupPage.StatisticsGroupActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="winep.ir.mymemory.Presenter.ExamPage.ExamActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="winep.ir.mymemory.Presenter.QuestionPage.QuestionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="winep.ir.mymemory.Presenter.SettingsPage.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="winep.ir.mymemory.Presenter.LevelPage.LevelActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="winep.ir.mymemory.Presenter.CoursePage.CourseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="winep.ir.mymemory.Presenter.CreateQuestionPage.CreateQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="winep.ir.mymemory.Presenter.LevelSettingPage.LevelSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="winep.ir.mymemory.Presenter.StatisticsTotalPage.StatisticsTotalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="winep.ir.mymemory.Presenter.QuestionPage.EditQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="winep.ir.mymemory.Presenter.QuestionPage.ShowImageActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:name=".Presenter.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Presenter.ExamResultActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Presenter.PurchasedLessonPage.PurchasedLessonActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Presenter.SharedCardsPage.SharedCardsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Presenter.SharedLessonPage.SharedLessonActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Presenter.OnlineDictionaryTab.OnlineDictionaryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Presenter.ImageGallery.ImageGalleryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5d973cbfe46f2888f592712136e6bc887c157e4a" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>
</manifest>